body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  position: absolute;
  z-index: 10;
  padding: 20px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 5;
  opacity: 0.4;
}
.scrollable{
  height:500px;
  overflow:scroll;
}
th{
  position:sticky;
  background-color:grey;
  top:0;
}